$base-color: #87C544;
$base-background-color: #E0F0CF;
$base-background-light-color: #F6FBF1;

$accent-fill-rest: #F5F5F5;
$accent-fill-hover: #FFFFFF;
$accent-fill-active: #E8E8E8;
$accent-fill-selected: #D6D6D6;
$accent-foreground-rest: #696969;
$accent-foreground-hover: #5A5A5A;
$accent-foreground-active: #747474;
$accent-foreground-cut: #000000;
$neutral-focus-inner-accent: #F5F5F5;
$neutral-focus: #5C872E;

$neutral-fill-rest: #F6FBF1;
$neutral-fill-hover: #ffffff;
$neutral-fill-active: #F0F8E7;
$neutral-fill-selecte: #F6FBF1;
$neutral-foreground-rest: #16200A;
$neutral-focus: #5C872E;

$neutral-fill-stealth-rest: #E0F0CF;
$neutral-fill-stealth-hover: #F0F8E7;
$neutral-fill-stealth-active: #E9F5DD;
$neutral-fill-stealth-selected: #F6FBF1;
$neutral-outline-rest: #93CB57;
$neutral-outline-hover: #6FA338;
$neutral-outline-active: #AFD882;
$neutral-foreground-rest: #16200A;
$neutral-foreground-hint: #4F7427;

$neutral-fill-input-rest: #E0F0CF;
$neutral-fill-toggle-rest: #4F7427;
$neutral-fill-toggle-hover: #3E5C1E;
$neutral-fill-toggle-active: #5A842D;
$neutral-outline-contrast-rest: #659332;
$neutral-outline-contrast-hover: #456522;
$neutral-outline-contrast-active: #78AF3C;

$neutral-divider-rest: #C8E4A9;



body {
    display: relative;
}

:not(:defined) {
    visibility: hidden;
}