.vscode
backend/node_modules/*
backend/package-lock.json
Blockly-for-Dwenguino/DwenguinoIDE/js/src/logging/Validator_backup.js
Blockly-for-Dwenguino/DwenguinoIDE/js/src/logging/LoggingMenu_backup.js
Blockly-for-Dwenguino/DwenguinoIDE/js/src/logging/DwenguinoEventLogger_backup.js
Blockly-for-Dwenguino/DwenguinoIDE/js/src/DwenguinoSimulation_backup.js
Blockly-for-Dwenguino/DwenguinoIDE/js/src/DwenguinoSimulation_backup2.js
node_modules
workspace_config.code-workspace
launch.json
package-lock.json
Blockly-for-Dwenguino/DwenguinoIDE/js/lib/nerdamer/.gitignore
Blockly-for-Dwenguino/DwenguinoIDE/js/lib/nerdamer/.travis.yml
