<html>
    <head>
        <title>
            My first dashboard
        </title>
        <script type="text/javascript" src="/dwenguinoblockly/dashboards/js/dist/dashboards.bundle.js"></script>
        <link rel="stylesheet" href="/dwenguinoblockly/dashboards/js/dist/app.css">
    </head>
    <body>
        My first dashboard
        <name-tag greeting="Hola"></name-tag>
    </body>
</html>