<html>
    <head>
        <title>
            My first dashboard
        </title>
        <script type="text/javascript" src="/dwenguinoblockly/dashboards/js/dist/dashboards.bundle.js"></script>
        <!--<link rel="stylesheet" href="/dwenguinoblockly/dashboards/js/dist/app.css">-->
    </head>
    <body>
        <div id="login_component"><login-component>Test</login-component></div>
    </body>
</html>