<!DOCTYPE html>
<html>
    <head>
        <title>
            Dwengo dashboard
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <style>
            .material-symbols-outlined {
              font-variation-settings:
              'FILL' 0,
              'wght' 400,
              'GRAD' 0,
              'opsz' 48
            }
            </style>
        <script>
            let globalSettings = {
                basepath: "<%- base_url %>/dwenguinoblockly/",
                hostname: "<%- base_url %>"
            }
        </script>
        <script type="text/javascript" src="<%- base_url %>/dwenguinoblockly/editor/js/dist/editor.bundle.js"></script>
        <style>
            html {
                width: 100vw;
                height: 100vh;
                margin:0;
                --theme-accentFillRest: #87C544;
                --theme-accentFillHover: #7EB940;
                --theme-accentFillActive: #96CC5C;
                --theme-accentFillSelected: #6DA037;
                --theme-accentForegroundCut: #000000;
                --theme-neutralFocusInnerAccent: #F6FBF1;
                --theme-neutralFocus: #7D8873;
                --theme-neutralFillRest: #E4E9DF;
                --theme-neutralFillHover: #DCE2D7;
                --theme-neutralFillActive: #E9EEE4;
                --theme-neutralFillSelected: #E4E9DF;
                --theme-neutralForegroundRest: #1E2B11;
                --theme-neutralFocus: #7D8873;
                --theme-neutralFillStealthRest: #F6FAF2;
                --theme-neutralFillStealthHover: #E9EEE4;
                --theme-neutralFillStealthActive: #EEF3EA;
                --theme-neutralFillStealthSelected: #E4E9DF;
                --theme-neutralOutlineRest: #B6BEAE;
                --theme-neutralOutlineHover: #8F9986;
                --theme-neutralOutlineActive: #CDD3C7;
                --theme-neutralForegroundRest: #1E2B11;
                --theme-neutralFocus: #7D8873;
                --theme-neutralFillStealthRest: #F6FAF2;
                --theme-neutralFillStealthHover: #E9EEE4;
                --theme-neutralFillStealthActive: #EEF3EA;
                --theme-neutralFillStealthSelected: #E4E9DF;
                --theme-neutralForegroundRest: #1E2B11;
                --theme-white: #fff;
                --theme-black: #000;
                --theme-notification-message-border-color: #c3e6cb;
                --theme-notification-message-background-color: #d4edda;
                --theme-notification-message-color: #155724;
                --theme-notification-error-border-color: #E5C1C1;
                --theme-notification-error-background-color: #ECD4D4;
                --theme-notification-error-color: #561414;

                --theme-main-page-margin: 2rem;
                --theme-base-font-size: 1rem;
                --theme-border-radius: 4px;
                color: var(--theme-accentForegroundCut);
                font-family: 'Roboto', sans-serif;
                font-size: var(--theme-base-font-size);

                --lumo-primary-color: var(--theme-accentFillSelected);
                --lumo-primary-color-10pct: lighten(var(--lumo-primary-color), 10%);
                --lumo-primary-color-50pct: lighten(var(--lumo-primary-color), 50%);
                --lumo-primary-contrast-color: white;
                --lumo-contrast-5pct: lighten(var(--lumo-primary-contrast-color), 5%);
                --lumo-primary-text-color: var(--theme-accentForegroundCut);
                --lumo-font-family: 'Roboto';
                --lumo-size-m: 2.5rem;

                
            }
            body {
                margin: 0;
            }
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                
                
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                
            }
            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                
            }
            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
                
            }
        </style>
    </head>
    <body>
        <dwengo-editor-menu></dwengo-editor-menu>
    </body>
        
</html>