/* Color classes */

.c-1{
    color: #d02625;
}

.c-2{
    color: #f28e78;
}

.c-3{
    color: #fab63c;
}

.c-4{
    color: #ffdd04;
}

.c-5{
    color: #88bd28;
}

.c-6{
    color: #4a9234;
}

.c-7{
    color: #0e6942;
}

.c-8{
    color: #0a6d61;
}

.c-9{
    color: #096f80;
}

.c-10{
    color: #0b75bb;
}

.c-11{
    color: #e8385d;
}

.c-12{
    color: #e22b41;
}

.c-13{
    color: #ec606a;
}

/* Background color classes */

.bg-c-1{
    background-color: #d02625;
}

.bg-c-2{
    background-color: #f28e78;
}

.bg-c-3{
    background-color: #fab63c;
}

.bg-c-4{
    background-color: #ffdd04;
}

.bg-c-5{
    background-color: #88bd28;
}

.bg-c-6{
    background-color: #4a9234;
}

.bg-c-7{
    background-color: #0e6942;
}

.bg-c-8{
    background-color: #0a6d61;
}

.bg-c-9{
    background-color: #096f80;
}

.bg-c-10{
    background-color: #0b75bb;
}

.bg-c-11{
    background-color: #e8385d;
}

.bg-c-12{
    background-color: #e22b41;
}

.bg-c-13{
    background-color: #ec606a;
}